@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Logs</h2>

<form action="/logs" method="post">
    <input type="text" id="message" name="message"/>
    <input type="submit" value="create message"/>
</form>