/* Hacks */

.group {		
	zoom:1; /* For IE 6/7 (trigger hasLayout) */

	&:before,
	&:after {
		content:"";
		display:table;
	}
	&:after {
		clear:both;
	}	
}


body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* lists */

ul {
	list-style:none;
}

ul.tabs {
	position:relative;
	float:left;
	width:100%;
	padding:0 0 1.75em 1em;
	margin:0;
	list-style:none;
	line-height:1em;

	li {
		float:left;
		margin:0;
		padding:0;
		margin-right: 10px;
	}

	a {
		display:block;
		color:#444;
		text-decoration:none;
		font-weight:bold;
		background:#ddd;
		margin:0;
		padding:0.25em 1em;
		border-left:1px solid #fff;
		border-top:1px solid #fff;
		border-right:1px solid #aaa;

		&:hover,
		&:active,
		&.here:link,
		&.here:visited {
			background:#bbb;
		}

		&.here:link,
		&.here:visited {
			position:relative;
			z-index:102;
		}
	}
}


/* usersessions */
#sessions-list {
	margin: 10px;
	padding: 0;
}
.usersession { 
	width: 300px;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}
#actions {
	border: 1px solid #DDD;
	margin: 10px;
}
#create-session {
	border: 1px solid #DDD;
	float: left;
	padding: 10px;
	margin-right: 10px;
}
#edit-session {
	border: 1px solid #DDD;
	padding: 10px;
	float: left;
}
