@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(function () {

        var router = new UserSessionsPage();
        Backbone.history.start();
    });


</script>
<script id="item-template" type="text/x-handlebars-template">  
    <div>
        <h3><a href="#edit/{{Id}}">{{Name}}</a></h3>                
        <div>
            <h4>Vacancies</h4>
            <ul class="tabs">
            {{#Tags}}
                <li>
                    <p>{{this}}</p>
                </li>
            {{/Tags}}
        </ul>
        </div>
    <div>
</script>


<h2>Sessions</h2>
<ul id="sessions-list"></ul>

<h2>Create New User Session</h2>
<form id="create-session-form" action="@Url.Action("Create", "UserSession")">
    <input type="text" name="Name" id="create-name"/>
    <input type="submit" value="Create"/>
</form>


<h2>Edit Session</h2>
<form id="edit-session-form" action="@Url.Action("Update", "UserSession")">
    <input type="text" name="Name" id="edit-name"/>
    <input type="submit" value="Update"/>
</form>
