@using Combres.Mvc

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    @Html.CombresLink("css")
    @Html.CombresLink("js")
    
</head>

<body>
    @RenderBody()
</body>
</html>
